.container-play {
    width: 600px;
    height: 600px;
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.container-result {
    border-radius: 10px;
    width: 600px;
    height: 200px;
    background-color:rgb(131, 131, 131);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
    align-items: center;
    color: aliceblue;
}
.box {
    width: 198px;
    height: 198px;
    border: 1px solid black;
    justify-content: center;
    display: flex;
    align-items: end;
    font-size: 200px;
}
.main {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
button {
    width: 150px;
    height: 50px;
    border-radius: 20px;
    background-color:rgb(131, 131, 131);
    font-size: 25px;
    color: aliceblue;
}
.play-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.btn {
    margin-top: 20px;
}
@media (max-width: 750px) {
    .main {
        flex-direction: column;
    }
    .container-play {
        width: 350px;
        height: 350px;
    }
    .box {
        font-size: 120px;
        width: 114.6px;
        height: 115px;
    }
    h1 {
        margin: 0;
        font-size: 25px;
    }
    .container-result {
        width: 350px;
        height: 150px;
        margin-top: 20px;
    }
}